
<!-- Quiz Container -->
<head>
  <link rel="stylesheet" href="/css/questions.css">
</head>
{{error}}
{{image}}

<img src='/public/images/{{image}}' />
{{#each question}}
<div>
    <p>{{this.question}}</p>
        <ul>
            <li><label><input type="radio" name="q2" value="a">{{this.answers.a}}</label></li>
            <li><label><input type="radio" name="q2" value="b"> {{this.answers.b}}</label></li>
            <li><label><input type="radio" name="q2" value="c"> {{this.answers.c}}</label></li>
        </ul>
</div>
{{/each}}
